*{font-family: 'Clash Display', sans-serif;}

body{
    background-image: url(./Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: #562809;
}
h2{
    color: #562809
}
#fondo{
    background-color: #FFF8F1;
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.Bb{
  margin-top: 20px;
}
h3{
    font-size: 14px;
    color: #562809;
}
#Username {
border: none;
border-bottom: 2px solid #562809;
background-color: transparent;
}
div{
    padding: 10px;
}
    
form{
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-start;
    align-items: center; }
.image {
    width: 20px;
}
a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    color: #562809;
    font-size: 15px;
    margin-top: -4px;
}
.button {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    margin-top: 6px;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .button-77 {
      padding: 19px 32px;
    }
  }
  
  .button:before,
  .button:after {
    border-radius: 20px;
  }
  
  .button:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .button:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .button:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
  }
  
  .button:active:not(:disabled) {
    color: #ccc;
  }
  
  .button:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .button:disabled {
    cursor: default;
    opacity: .24;
  }
#Buttona{
    color: #fff;
    text-decoration: none;
  }